html, body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
.App {
  text-align: center;
  padding: 20px;
}

.App main {
  display: flex;
}

.App main > * {
  width: 50%;
  padding: 20px;
}

.App .inputs {
  display: flex;
  flex-direction: column;
}

.App .inputs > *:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
  .App main {
    flex-direction: column;
  }
  .App main > * {
    width: 100%;
  }

  .App .inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
  }
  
  .App .inputs > * {
    width: 43%;
    margin: 10px;
  }
}
